* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 96.31px;
    background-color: #FFFFFFF2;
}

.header-title h2 {
    color: #E76F51;
    font-family: "Playfair Display", serif;
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: sans-serif;
}

.btn {
    background-color: #E76F51;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    width: 164.5px;
    height: 49.59px;
    line-height: 25.6px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
}
